./data/*
./logs/*
vllm.log
schema_embeddings.pkl
dummy_bird.sqlite
./wandb/*
*.pyc
*.csv
*.out
./output/
*.log
__pycache__
*.pt
*.pkl
*.index
*.faiss
predictions.json
*.sqlite
dev_tables.json
dev.json